# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
env/

# Extension
DEVELOPMENT.md
config.json
*.wav

# Node
node_modules/
dist/
npm-debug.log*

# Editor
.vscode/
*.code-workspace
.idea/

# Custom
